{if $objective_type == 0}
<form>
<input type="radio" name="objective" id="o1" value="1" /><label for="o1">Rechercher une planète habitable (difficulté normale) (moral +30, moral -1/j, défense +20%)</label><br />
<input type="radio" name="objective" id="o2" value="2" /><label for="o2">À la recherche de la Terre (difficulté moyenne) (moral +20, moral -4/j, défense +10%)</label><br />
<input type="radio" name="objective" id="o3" value="3" /><label for="o3">Reconquérir les colonies (difficulté cauchemardesque) (moral +50, moral -10/j, attaque +15%)</label>
</form>
{else}

{/if}
